# Arquivos de ambiente e logs
.env
*.env
.venv/
env/
venv/
venv/*
bin/
node_modules/

# Logs e Cache
npm-debug.log*
yarn-error.log*
.eslintcache
.cache/
.DS_Store
Thumbs.db

# Builds e Dist
dist/
build/

# Python / Pytest cache
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.pyre/
pip-wheel-metadata/
*.egg-info/

# Mídia e Uploads (Hodômetros, Comprovantes, etc.)
media/
media/*
!media/.gitkeep