    <section class="historic-content-container">
        <div class="historic-content">
            {% for item in page_solicitacoes %}
                <a href="{% url 'reembolsos:detalhes_reembolsos' item.id %}" class="historic-links">
                    <div class="historic-item">
                    
                        <span class="info-group">
                            <p class="historic-label">Data</p>
                            <div class="historic-varitem">{{ item.data_solicitacao|date:"d/m/Y"}}</div>
                        </span>
                        <span class="info-group">
                            <p class="historic-label">Placa</p>
                            <div class="historic-varitem">{{item.veiculo.placa}}</div>
                        </span class="info-group">
                        <span class="info-group">
                            <p class="historic-label">Distancia</p>
                            <div class="historic-varitem">{{item.distancia_percorrida}}</div>
                        </span class="info-group">
                        <span class="info-group">
                            <p class="historic-label">STATUS</p>
                            <div class="historic-varitem">{{ item.get_status_display }}</div>
                        </span>
                    </div>
                </a>        
            {% endfor %}
    </section>

            <div class="pagination">
                <span class="step-links">

                    {% if page_solicitacoes.has_previous %}
                        <a class="pag-buttons" href="?page=1">&laquo; Primeira Pagina</a>
                        <a class="pag-buttons" href="?page={{ page_solicitacoes.previous_page_number }}">Anterior</a>
                    {% endif %}

                    {% if page_solicitacoes.has_previous or page_solicitacoes.has_next %}
                        <span class="current">
                            <div class="pag-buttons">Pagina {{ page_solicitacoes.number }} de {{ page_solicitacoes.paginator.num_pages }}</div>
                        </span>
                    {% else %}
                    {% endif %}

                    {% if page_solicitacoes.has_next %}
                        <a class="pag-buttons" href="?page={{ page_solicitacoes.next_page_number }}">Proxima</a>
                        <a class="pag-buttons" href="?page={{ page_solicitacoes.paginator.num_pages }}">Ultima&raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>