    <header class="main-header-container">
      <div class="main-header container" id="nav-principal">

              <div class="main-logo">
                <a href="/usuarios/"><i class="fa-solid fa-gas-pump main-logo-icon"></i></a>
                <a href="/usuarios/" class="main-text">FuelProject</a>
              </div>


              <div class="navitens">
                <li class="nav-item">
                  <a href="/usuarios/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                  <a href="/veiculos/" class="nav-link">Veiculos</a>
                </li>
                <li class="nav-item">
                  <a href="/reembolsos/" class="nav-link">Reembolsos</a>
                </li>
                <li class="nav-item">
                  <a href="/fuelrequests/" class="nav-link">Solicitacoes</a>
                </li>
                <li class="nav-item">
                  <a href="/login" class="btn btn-outline-light ml-4 navlink-entrar">Entrar</a>
                </li>
              </div>
      </div>
    </header>