    <header class="main-header-container">
      <div class="main-header container" id="nav-principal">

              <div class="main-logo">
                <a href="/usuarios/"><img src="/static/img/logo_branca.png" alt="" class="logo-fr"></a>
              </div>


              <div class="navitens">

                <li class="nav-item">
                  <a href="/usuarios/" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                  <a href="/veiculos/" class="nav-link">Veiculos</a>
                </li>

                <li class="nav-item">
                  <a href="/reembolsos/" class="nav-link">Reembolsos</a>
                </li>

                <li class="nav-item">
                  <a href="/fuelrequests/" class="nav-link">Solicitacoes</a>
                </li>
              {% if not user.is_authenticated %}
                  <li class="nav-item">
                    <a href="/user_login" class="btn btn-outline-light ml-4 navlink-entrar">Entrar</a>
                  </li>
              {% else %}
                  <li class="nav-item">
                    <a href="/dashboard" class="btn btn-outline-light ml-4 navlink-entrar"> Perfil </a>
                  </li>
              {% endif %}
              </div>

                <button class="hamburguer"></button>
      </div>
    </header>
<script src="/static/js/hamburguer.js"></script>