{% extends 'base.html' %}
{% load static %}
{% load i18n %}
<title>{% block title %}Detalhes Reembolsos{% endblock title %}</title>

{% block main %}


<div style="align-items: center; display: flex; flex-direction: column;">
    
    <h1>{% translate 'Fuel Requests'%}</h1>
        <div class="fuelr-form">
            {% for item in solicitacoes %}
                
                <p>
                    <label>{% translate 'User'%}:</label>
                    <input type="text" value="{{ item.usuario.username }}" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                </p>

                <p>
                    <label>{% translate 'Vehicle'%}:</label>
                    <input type="text" value="{{ item.veiculo.modelo }} ({{ item.veiculo.placa }})" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                </p>

                <p>
                    <label>Status:</label>
                    <input type="text" value="{{ item.get_status_display }}" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                </p>

                <p>
                    <label>{% translate 'Initial KM'%}:</label>
                    <input type="text" value="{{ item.km_inicial }}" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                </p>

                <p>
                    <label>{% translate 'Final KM'%}:</label>
                    {{ form.km_final }}
                    <input type="text" value="{{ item.km_final }}" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                </p>
                

            
        </div>
        {% if solicitacoes.0.status != 'A' and solicitacoes.0.status != 'N' or request.user.is_superuser %}

            <a style= "max-width: 100px; display:flex; align-items: center; justify-content: center;" class="fuelr-button" href="{% url 'reembolsos:editar_reembolsos' item.id %}"> {% translate 'Edit'%} </a>

            <form class="form-delete" action="{% url "reembolsos:deletar_reembolsos" item.id %}"  method= 'POST'>

                {% csrf_token %}
                <button type="submit">{% translate 'Delete'%}</button>

            </form>

        {% else %}
            <div style="color: #721c24; background-color: #f8d7da; border: 1px solid #f5c6cb; padding: 10px; border-radius: 5px; margin-top: 10px; text-align: center;">
                <strong>{% translate 'Request already finished.'%}:</strong> {% translate 'That refound, cannot be edited or deleted.'%}.
            </div>
        {% endif %}

        <h6>Tags</h6>
        <h6 style="color: blue;text-decoration: underline;">
            {% if item.tags.all %}
                        {% for tag in item.tags.all %}
                            <a href="{% url 'reembolsos:tag' tag.slug %}">{{tag.name}}</a>, 

                        {% endfor %}
        {%endif%}
        </h6>
        {% endfor %}
        

</div>


<script src="{% static 'js/delete_script.js' %}"></script>

{% endblock %}