{% extends 'base.html' %}
{% load static %}

<title>{% block title %}Edicao de Solicitacao{% endblock title %}</title>

{% block main %}
{% include 'partials/_searchbar.html' %}  


<div class="fuelr-container">
    <div class="fuelr-div">
        <h1 class="fuelr-title">Edicao de Solicitacao</h1>
        <hr class="fuelr-line"></hr>
        <div class="fuelr-insidecontainer">
            <div class="lateral-form">
                <p class="fuelr-sidetext">Ola {{ user }}, para solicitar preencha:</p>
            </div>
            <form method="post" action="." class="fuelr-tag">
                {% csrf_token %}
                <div class="fuelr-form">
                    {{ form.non_field_errors }}
                    {% for item in solicitacoes %}
                        <p>
                            <label>Usuário:</label>
                            <input type="text" value="{{ item.usuario.username }}" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                        </p>
                        <p>
                            <label>Veículo:</label>
                            <input type="text" value="{{ item.veiculo.modelo }} ({{ item.veiculo.placa }})" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                        </p>
                        <p>
                            <label>Status:</label>
                            <input type="text" value="{{ item.get_status_display }}" readonly style="background-color: #e9ecef; cursor: not-allowed;">
                        </p>
                    {% endfor %}

                    <hr>

                    <p>
                        <label for="{{ form.km_inicial.id_for_label }}">KM Inicial:</label>
                        {{ form.km_inicial }}
                    </p>
                    <div class="fielderror">{{ form.km_inicial.errors }}</div>
                    <p>
                        <label for="{{ form.km_final.id_for_label }}">KM Final:</label>
                        {{ form.km_final }}
                    </p>
                    <div class="fielderror">{{ form.km_final.errors }}</div>
                </div>
            
                <button type="submit" class="fuelr-button">Editar</button>
                </form>
                
        </div>
        <form style="text-align: center;" class="form-delete" action="{% url "reembolsos:deletar_reembolsos" form.instance.id %}"  method= 'POST'>

                {% csrf_token %}
                <button type="submit">Deletar</button>

        </form>
            
    


    </div>
</div>
<script src="{% static 'js/delete_script.js' %}"></script>





{% endblock %}