{% extends 'base.html' %}
<title>{% block title %}Usuario{% endblock title %}</title>

{% block main %}
{% include 'partials/_searchbar.html' %}  
<div>{% for user in card_usuarios %}</div>
    <h1>{{user.username}}</h1>
{%endfor%}
<div class="card-perfil">
        <h2>Bem-vindo, {{ usuario_logado.username }}!</h2>
        
        <p>E-mail: {{ usuario_logado.email }}</p>
        <p>Data de cadastro: {{ usuario_logado.date_joined|date:"d/m/Y" }}</p>
        
        {% if usuario_logado.is_superuser %}
            <span style="color: red;">Acesso: Administrador</span>
        {% else %}
            <span style="color: blue;">Acesso: Motorista</span>
        {% endif %}
    </div>

{% include 'partials/_solicitacoesgrid' %}



</body>

<br><br><br><br><br>
Motorista
Veiculo
Solicitacoes

{% endblock %}

</html>


