{% extends "base.html" %}


{% block title %}Registre-se{% endblock %}
{% block main %}
<div class="main-content-container">
    <h1>Registre-se</h1>
    <hr class="divisoria">

    <div class="main-inside-container">
        <div class="side-text">
            <h1>Insira seus dados para cadastrar</h1>
        </div>
        {{ form.non_field_errors }}
        <form action="{% url 'usuarios:create' %}" method="POST" class="register-form">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    <label class="label" for="{{field.id_for_label}}">{{field.label}}:</label>
                    {{field}}

                    {% if field.help_text %}
                        <p class="help-text">{{field.help_text}}</p>
                    {% endif %}
                    <div class="fielderror">{{field.errors}}</div>
                </div>
            {% endfor %}

            <div class="form-group">
                <button type="submit">Registrar</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}