{% extends "base.html" %}


{% block title %}Registre-se{% endblock %}
{% block main %}
    <div class="main-content center">
        <h1>Registre-se {{request_session}}</h1>
            <div class="main-content container">
                <form action="{% url 'usuarios:create' %}" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-group">
                            <label for="{{field.id_for_label}}">{{field.label}}:</label>
                            {{field}}
                            
                            {% if field.help_text %}
                                <p class="help-text">{{field.help_text}}</p>                              
                            {% endif %}

                            {{field.errors}}
                        </div>
                    {% endfor %}
                    <div class="form-group"><button type="submit">Registrar</button></div>
                </form>
            </div>
    </div>
{% endblock %}