{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block main %}
<div class="main-content-container">
    {% if not user.is_authenticated %}
        <div class="login-card">
            <div class="login-header">
                <h1>Acesse sua Conta</h1>
                <p class="subtitle">Insira suas credenciais para continuar</p>
            </div>

            <hr class="divisoria">

            <div class="main-inside-container">
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                <form action="{% url 'usuarios:login_create' %}" method="POST" class="register-form">
                    {% csrf_token %}
                    
                    {% for field in form %}
                        <div class="form-group">
                            <label class="label" for="{{ field.id_for_label }}">{{ field.label }}:</label>
                            {{ field }}

                            {% if field.help_text %}
                                <p class="help-text">{{ field.help_text }}</p>
                            {% endif %}
                            
                            {% if field.errors %}
                                <div class="fielderror">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}

                    <div class="form-group form-actions">
                        <button type="submit" class="btn-submit">Entrar</button>
                    </div>
                    <div class="register-prompt">
                    <p>Ainda não tem uma conta? <a href="{% url 'usuarios:register' %}" class="register-link">Cadastre-se aqui</a></p>
                </div>
                </form>

                
            </div>
        </div>
    {% else %}
        <div class="authenticated-notice">
            <h2>Você já está autenticado!</h2>
        </div>
    {% endif %}

    {% include 'usuarios/partials/login_messages.html' %}
</div>
{% endblock %}